{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h1>Entre na sua conta</h1>
<div class="card mt-3">
    <div class="card-body">
        <form action="" method="post">
            <label for="email" class="mt-2">Email: </label>
            <input type="email" name="email" class="form-control" placeholder="Email">
            <label for="senha" class="mt-2">Senha: </label>
            <input type="password" name="senha" class="form-control" placeholder="Senha">
            <button type="submit" class="btn btn-success mt-3">Logar na conta</button>
        </form>
    </div>
</div>